.table {
  max-width     : 1000px;
  display       : flex;
  flex-direction: row;
}

.playerscolumn {
  list-style-type     : none;
  min-width           : 10%;
  max-width           : 15%;
  display             : flex;
  flex-direction      : column;
  padding-inline-start: 0px;
}

.dealscontainer {
  width         : 60%;
  display       : flex;
  flex-direction: row;
}

.dealcolumn {
  width          : 14.28%;
  display        : flex;
  list-style-type: none;
  flex-direction : column;

  .dealheader {
    display: flex;
  }

  .inputcontainer {
    border-style:solid;
    border-width: 1px;
    border-collapse: collapse;
    display: flex;
    width: 100%;
    input {
      height      : 18px;
      max-width   : 100%;
      text-align  : left;
      border-style: none;
      border-width: 1px;
      border-color: black;
      border-image: none;
      border-collapse: collapse;
      outline-style: none;
      padding     : 0px;
      display     : flex;
      border-radius: 0;
      webkit-border-radius: 0;
      -webkit-appearance: none;
      appearance: none;

    }
  }
}

.truncated {
  display      : inline;
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
}

.nameheader {
  .truncated();
}

.playername {
  .truncated();
  height: 20px;
}

.dealheader {
  .truncated();
}

.resultcolumn {
  width         : 7.5%;
  display       : flex;
  flex-direction: column;

  .dealheader {
    display: flex;
  }
}